<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justbnutz.quicksettingsapplauncheroo"
    >
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickSettingsAppLauncheroo"
        >
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            />
        <service
            android:name=".services.QsService01"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService02"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService03"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService04"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService05"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService06"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService07"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService08"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService09"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService10"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService11"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QsService12"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:label="@string/quicksetting_hint"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>